.mainView {
  flex-direction: row;
  height: 100vh;
  width: 100%;
  display: flex;
}

@media (max-width: 900px) {
  .mainView {
    flex-direction: column;
  }
}

.loginView {
  background-color: var(--primary-color);
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.textContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.imageContainer {
  background-color: var(--white);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageContainer img {
  max-width: 80%;
  height: auto;
}

.openSans {
  font-family: "Open Sans", sans-serif;
}

.inputStyle:focus {
  outline: 0;
}

#loginViewBg {
  background-color: var(--primary-color);
}

.expContainerHeader {
  display: flex;
  align-items: baseline;
  margin-top: 0.5rem;
}

.textStyleHeader {
  font-weight: 700;
  color: var(--white);
  font-size: 1.5rem;
  line-height: 1;
}

.xHeader {
  font-size: 2.5rem;
  font-weight: 700;
  margin-left: 0.1rem;
  line-height: 1;
  color: var(--white);
}

.img-div {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
}

.img-div1 {
  align-self: flex-start;
  width: 4rem;
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.img-div2 {
  width: 8rem;
  margin-top: 2rem;
}

.signIn-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.signIn-heading {
  font-size: 1.5rem;
  color: var(--white);
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.signIn-sub-heading {
  color: var(--text-light-grey);
  font-size: 0.8rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.form-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.input-heading {
  color: var(--white);
  font-size: 0.75rem;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 0.25rem;
}

.footer-div {
  color: var(--text-light-grey);
  font-size: 0.7rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}

.checkboxStyle {
  margin-right: 0.5rem;
  cursor: pointer;
}

.checkboxStyle {
  margin-right: 0.5rem;
  cursor: pointer;
}

@media (max-width: 600px) {
  .img-div2 {
    width: 6rem;
  }

  .signIn-heading {
    font-size: 1.25rem;
  }
}